<div class="container mt-5">
  <!-- Vérification des droits d'accès -->
  <div *ngIf="!isAdmin()" class="alert alert-danger">
    <strong>Vous n'êtes pas autorisé à accéder à cette page.</strong>
  </div>

  <!-- Si l'utilisateur est admin, afficher le formulaire -->
  <div *ngIf="isAdmin()">

    <h1>Ajout Produit</h1>
    <form class="left-form" (ngSubmit)="saveProduct()">
      
      <div class="form-group">
        <label for="ref">Référence</label>
        <input type="text" [(ngModel)]="newProduct.ref" name="ref" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" [(ngModel)]="newProduct.title" name="title" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea [(ngModel)]="newProduct.description" name="description" class="form-control" required></textarea>
      </div>

      <div class="form-group">
        <label for="category">Catégorie</label>
        <select [(ngModel)]="selectedCategory" name="category" required>
          <option *ngFor="let category of categories" [ngValue]="category">{{ category.name }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="stock">Stock</label>
        <input type="number" [(ngModel)]="newProduct.stock" name="stock" class="form-control" required>
      </div>
      
      <div class="form-group">
        <label for="price">Prix</label>
        <input type="number" [(ngModel)]="newProduct.price" (input)="calculateDiscountPrice()" name="price" class="form-control">
      </div>
      
      <div class="form-group">
        <label for="discount">Réduction (%)</label>
        <input type="number" [(ngModel)]="newProduct.discount" (input)="calculateDiscountPrice()" name="discount" class="form-control">
      </div>
      
      <div class="form-group">
        <label for="discountPrice">Prix après réduction</label>
        <input type="number" [(ngModel)]="newProduct.discountPrice" name="discountPrice" class="form-control" readonly>
      </div>
      
      <div class="form-group">
        <label for="isActive">Actif</label>
        <select [(ngModel)]="newProduct.isActive" name="isActive" class="form-control">
          <option [value]="true">Oui</option>
          <option [value]="false">Non</option>
        </select>
      </div>

      <div class="form-group">
        <label for="isArchived">Archivé</label>
        <select [(ngModel)]="newProduct.isArchived" name="isArchived" class="form-control">
          <option [value]="true">Oui</option>
          <option [value]="false">Non</option>
        </select>
      </div>

      <div class="form-group">
        <label for="images">Images</label>
        <input type="file" (change)="onImageUpload($event)" multiple name="images" class="form-control">
      </div>

      <button type="submit" class="btn btn-primary">Soumettre</button>
    </form>
  </div>
</div>
