<div class="container">
    <h2>Vérification de l'email</h2>
    <form (submit)="verifyUser()">
      <!-- Email déjà enregistré dans sessionStorage -->
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" [(ngModel)]="email" name="email" class="form-control" disabled />
      </div>
  
      <div class="form-group">
        <label for="code">Code de vérification</label>
        <input type="text" [(ngModel)]="code" name="code" class="form-control" required />
      </div>
  
      <button type="submit" class="btn btn-success">Vérifier</button>
    </form>
  
    <div *ngIf="successMessage" class="alert alert-success">
      {{ successMessage }}
    </div>
  
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
  </div>
  